.wd-div-border{
    border:  solid 1px rgb(234, 234, 234);
}

.wd-div-border-top{
    border-top: solid 1px rgb(47, 51, 54);
}
.wd-div-border-bottom{
    border-bottom: solid 1px rgb(234, 234, 234);
}

.background_dark{
    background-color: #1a1a1a;
}

.wd-nav-tags{
    color: rgb(110, 118, 125);
    white-space: nowrap;
    font-weight:bold;
}

.wd-nav-tags li{
    list-style-type: none;
    display: inline-block;
}

.wd-nav-tags li a{
    text-decoration:none;
    color: rgb(110, 118, 125);
    font-size: 15px;
    padding: 16px;
}

.wd-nav-tags .wd-selected{
    style-type: none;
    padding-bottom: 2px ;
    border-bottom: solid 3px rgb(29, 161, 242);
    color: rgb(29, 161, 242);
}

#name-title h3{
    font-size: 13px;
    color: rgb(110, 118, 125);
}
#name-title h1{
    font-size: 16px;

}
.background_blue{
    background-color: rgb(29, 161, 242);

}
.wd-color-gray{
    color:rgb(110, 118, 125);
}
.wd-color-red{
    color: #e82e2e;
}


.wd-div-authorAndtitle{
    width: 50%;
    float:left;
}
.wd-div-image{
    width: 40%;
    float:right;

}
.wd-div-image img{
    margin: 10px;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    float:right;
    border-right: 16px;
}
.wd-div-img img{
    width:504px;
    height: 264px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: solid 1px rgb(47, 51, 54);
}

.wd-dotsymbol{
    float:right;
    margin-right: 20px;
    color: rgb(110, 118, 125);
}
.wd-wordonimage{
    position:relative;
    bottom:50px;
    left: 10px;
    height: 0px;
}
.wd-a-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.card h3{
    font-size: 10px;
    color: rgb(110, 118, 125);
}
.card h1{
    font-size: 10px;
}
.float-done {
    clear: both;
}